body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1247px;
    ;
}

.container {
    margin: auto;
    width: 57%;
}

.subcontainer {
    margin: auto;
    width: 90%;
}

.main-section {
    margin-top: 30px;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-banner {
    border-radius: 10px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/images/Banner Image.png');
    height: 100vh;
    width: 92vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title {
    color: #FFF;
    margin-top: 15%;
  
}

.main-title p {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.main-title h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    margin-top: -20px;
}


/* discount section */

.discount-main-section {
    margin-top: 10%;
    
}

.discount-title {
    margin-top: 40px;
    text-align: center;
}

.discount-title p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;

}

.discount-title h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin: -10px;
}

.new-year-photo {
    margin-top: 50px;
}

.new-year-photo img {
    width: 100%;
    
    height: auto;
    
}

/* midnight section */
.midnight-main-section {
    margin-top: 10%;
   
}

.midnight-bg {
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(7, 2, 17) 0%, rgba(7, 2, 17, 0) 100%), url('/images/Vectorrr.png');
    height: 100vh;
    width: 92vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.midnight-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.margin {
    margin: 126px 0;
}

.group-image img {
    width: 100%;
    height: auto;
    
}

.midnight-title h2 {
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;

    letter-spacing: 7.04px;
}

.midnight-title p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  
}

.midnight-title h3 {
    color: #FFF;

    text-align: start;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* plan section */

.plan-section {
    margin-top: 10%;
    border-radius: 5px;
    height: 470px;
    width: 92vw;
    background: linear-gradient(rgb(255, 171, 171) 0%, rgba(255, 0, 0, 0) 100%);
}

.plan-section-title {
    text-align: center;
    margin-top: 15%;

}

.text-sub-color {
    color: #F00;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
 
    text-transform: capitalize;
}

.plan-section-title h2 {
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

/* anual section */
.anual-main-section {
    margin-top: 10%;
    
}

.anual-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
     justify-content: space-around;
    align-items: center;

    justify-items: center
}

.anual-text h4 {
    color: #F00;


    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.anual-text h3 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.anual-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 32px;/
}

.anual-image {
    border-radius: 463px;
    border: 12px solid #F00;
    padding: 20px 20px;
}

.anual-image img {
    width: 100%;
    height: auto;
   
}

.anual-year h1 {
    color: #F00;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.anual-year p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.anual-year img {
    width: 140px;
    height: 140px;
}

/* sale section */
.sale-main-section {
    margin-top: 120px;
    width: 92vw;
}

.sale-title {
    text-align: center;
}

.sale-title h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sale-title span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
}

.sale-title h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: -40px;
}

.sale-title p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding: 20px;
}

.sale-relative {
    position: relative;
}

.sale-flex-image {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sale-flex-image img {
    width: 429px;
    height: 433px;
}

.sale-color-bg {
    background-image: url('/images/Rectangle\ 2.png');
    height: 22vh;
    width: 92vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gift-box {
    position: relative;
}

.gift-box img {
    width: 500px;
    position: absolute;
    bottom: 1px;
}

.sale-off {
    position: absolute;
    bottom: 34%;
    left: 55%;
}

.sale-off img {
    width: 207.841px;
    height: 206.841px;
}

/* portfolio section */
.portfolio-section{
    margin-top: 10%;
    width: 92vw;
}
.portfolio-title h5{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 10px;
}
.portfolio-title h2{
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 10px;
}
.portfolio-title p{
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
   margin: 10px;
}

.portfolio-img-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.portfolio-images img{
    width: 100%;
    height: auto;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    transition: all 1s ease;
  
}

.portfolio-images img:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  
}

/* subscribe section */
.Subscribe-main-section{
  margin-top: 120px;
  border-radius: 16px;
background: rgba(255, 0, 0, 0.05);

width: 92vw;
height: 60h;
padding: 50px 0;
}
.Subscribe-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Subscribe-title h2{
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: -10px;
}
.Subscribe-title p{
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
   
}
.Subscribe-input{
    display: flex;
    justify-content: center;
}
.Subscribe-input input{
    padding: 16px 80px;
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}
.Subscribe-input button{
    padding: 15px 30px;
    background: #F00;
    color: #FFF;
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer{
    margin-top: 120px;
    background: #070211;
    height: 45vh;
    padding: 65px 65px;
}
.footex-main-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.footer-text-one p{
    color: #FFF;

font-family: Inter;
font-size: 15px;
font-style: normal;
line-height: 40px;
gap:5px;

}
.footer-text-two p{
    color: #FFF;

font-family: Inter;
font-size: 15px;
font-style: normal;
line-height: 30px;
gap: 5px;
}
hr{
    background: rgba(255, 255, 255, 0.15);
    height: 1px
}

.social-icon{
    margin-top: 38px;
    padding: 10px 0;
}
.social-image img{
    width: 64px;
height: 64px;
}
.footer-last-text p{
    
    color: #FFF;

font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;

}
.flex{
    display: flex;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.gap{
    gap: 25px;
}
